body {
  font-family: Aspergit, sans-serif;
  background: url('background01.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  opacity: 1.0;
  text-align: center; 
  margin: auto;
 }

div img {
  width: 32%;
  height: 32%;
}

h1 {
  color: #776767;
  text-transform: inherit;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  padding: 60px;
  border: 40px #ffffff solid;
  background-color: #ffffff;
  opacity: 0.6;
  margin: 30px;  
}

p {
  color: #776767;
  text-transform: lowercase;
  font-size: 90px;
  font-weight: 300;
  text-align: center;
  padding: 200px;
  border: 40px #ffffff solid;
  background-color: #ffffff;
  opacity: 0.6;
  margin: 30px;
}

 

